<header>
    <div class="page-container">

        <div class="logo">
            {{#link-to "index"}}
              <img src="/images/logotype.svg" />
            {{/link-to}}
        </div>
        <nav>
            {{#if session.isAuthenticated}} 
                {{#link-to "home"}}Home{{/link-to}}

                {{#link-to "user" session.currentUser.username}}
                    <img class="avatar" src="/images/avatar.jpg" />
                    {{session.currentUser.username}} 
                {{/link-to}}
            {{/if}}
            {{#link-to "source"}}Source Code{{/link-to}}

            {{#if session.isAuthenticated}} 
                <button class="chirp" {{action "toggleComposeModal"}}>Chirp</button>
            {{/if}}
        </nav>
    </div>
</header>

{{liquid-outlet}}

{{#if showingComposeModal}}
    {{#modal-dialog translucentOverlay=true close=(action 'toggleComposeModal')}}
        {{compose-modal dismiss=(action 'toggleComposeModal')}}
    {{/modal-dialog}}
{{/if}}
