<div class="page-container source-section">
    <div class="api-section card">
        {{fa-icon "github" size="5"}}
        <a href="https://github.com/benkolera/chirper-app"
           target="_blank">
            Client (EmberJS) Codebase
        </a>
    </div>
    <div class="api-section card">
        {{fa-icon "github" size="5"}}
        <a href="https://github.com/benkolera/chirper-api"
           target="_blank">
            Server (NovemberJS) Codebase
        </a>
    </div>
</div>
